/*Cover*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos body*/
body {
    background: linear-gradient(300deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
/* Estilos scrollbar*/
body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#42275a, #734b6d);
    border-radius: 1rem;
}

/*Uso de flex en cover*/
.body {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}
/*Ubicación del texto en cover*/
.body__text {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 1rem 2rem;
    width: 50%;
}

.titulo {
    justify-content: flex-start;
    color: #761CBC;
    font-size: clamp(2rem, 1.1556rem + 3.5556vw, 4rem); /*Letra responsiva*/
    padding: 10vh 0 0 7vw;
}

/*Ubicación del bóton en cover*/
.button__start {
    justify-content: flex-end;
    font-size: clamp(1.5rem, 1.0778rem + 1.7778vw, 2.5rem); /*Letra responsiva*/
    font-weight: 500;
    text-decoration: none;
    background: #761CBC;
    color: white;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 10vh;
    left: 10vw;
}
/*Ubicación de la imágen en el cover*/
.body__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
/*Tamaños de la imágen de acuerdo a la pantalla*/
@media (min-width: 1024px) {
    .body__image {
        margin-left: 0;
        width: 50%;
        height: 100vh;
    }
}
@media (max-width: 768px) {
    .body__image {
        z-index: -2;
        height: 100vh;
        width: 200vw;
    }
}