@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos body*/
body {
    background: #D9D9D9; /*Fondo de la página*/
    font-family: "Inter", sans-serif; /*Fuente*/
}
/* Estilos scrollbar*/
body::-webkit-scrollbar {
    width: 0.3rem; 
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#42275a, #734b6d);
    border-radius: 1rem;
}
header {
    margin: 2rem;
}

/*Estilos del header (botón de notificaciones)*/
.header__button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}
/*Estilos al pasar por los botones*/
.icon-button:hover {
    cursor: pointer;
    background: #761CBC;
    color: white;
}

.icon-button:active {
    background: #cccccc;
}
/*Estilos número superior bóton de notificaciones*/
.icon-button__badge {
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    width: 1.6rem;
    height: 1.6rem;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*Estilos del header (botón de redireccionamiento index)*/
.header__button--left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
/*Estilos del título principal */
.title {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 40px; 
    font-size: clamp(1.2rem, -3.6rem + 10vw, 2.8rem);
}

.title2 {
    color: #761CBC;
}

/*Estilos menú de categorias */
.barra {
    display: flex;
    flex-direction: row;
    height: 6.25rem;
    margin-left: 2%;
    overflow-x: scroll;

    & > .barra__item { /*Estilos de cada item en el menú de categorias*/
        flex: 1;
        min-width: fit-content;
        margin: 0.9rem;
    }
}
/*Scrollbar de menú de categorias*/
.barra::-webkit-scrollbar {
    display: none; /*Eliminar scrollbar*/
}
/*Estilos de cada item en el menú de categorias*/
.barra__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: clamp(1.2rem, -1.2rem + 5vw, 2rem);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
}
/*Color específico a cada item del menú de categorias*/
.barra__item:nth-child(1) {
    background-color: #EDE9FF;
}

.barra__item:nth-child(2) {
    background-color: #FFF5D7;
}

.barra__item:nth-child(3) {
    background-color: #FFECEC;
}

.barra__item:last-child {
    background-color: #E4FFEA;
}
/*Estilos al hacer hover sobre items del menú de categorias*/
.barra__item:hover {
    font-weight: 600;
    border: 2px double black;
    cursor: pointer;
}

/*Estilos títulos Trending Events */
.trending {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.trending h2 {
    font-weight: 600;
    font-size: clamp(1.5rem, -1.5rem + 6.25vw, 2.5rem); /*Letra responsiva*/
}

.trending h3 {
    font-weight: 400;
    font-size: clamp(1.2rem, -1.8rem + 6.25vw, 2.2rem); /*Letra responsiva*/
    color: grey;
}

/*Estilos títulos Events Near You */
.nearyou {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}

.nearyou h2 {
    font-weight: 600;
    font-size: clamp(1.5rem, -1.5rem + 6.25vw, 2.5rem); /*Letra responsiva*/
}

.nearyou h3 {
    font-weight: 400;
    font-size: clamp(1.2rem, -1.8rem + 6.25vw, 2.2rem); /*Letra responsiva*/
    color: grey;
}
/*Hover títulos See All*/
h3:hover {
    color: #761CBC;
}

/*Estilos cards Events Near You */
.eventNear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin: 2rem;
    overflow-x: scroll;

    & > .eventNear__item { /*Estilos de cada item de cards Events Near You*/
        flex: 1;
        width: max-content;
        justify-content: center;
        background: white;
        box-shadow: 2px 2px 4px 0 rgba(20,20,20,0.3);
        border-radius: 0.6rem;
        margin: 0.5rem;
    }
}
/*Scrollbar de cards Near You*/
.eventNear::-webkit-scrollbar {
    display: none; /*Elimnar scrollbar cards near you*/
}
/*Estilos de las imágenes en las cartas Near You*/
.events__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    width: 60vw;
    padding: 1rem;
    border-radius: 2rem;
}

/*Texto Cards Events Near You*/
.event__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    line-height: 1.5;
}

.text__event {
    color: black;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(1.3rem, -0.8rem + 4.375vw, 2rem);
}

.text__event:hover {
    cursor: pointer;
    color: white;
    background: black;
    border-radius: 5px;
}

.text__event--p {
    color: #000000;
    line-height: 1.5;
    font-size: clamp(1rem, -0.5rem + 3.125vw, 1.5rem);
}

.text__event--price {
    color: red;
    font-weight: 600;
    font-size: clamp(1.2rem, -0.6rem + 3.75vw, 1.8rem);
}