/* Estilos Card Trending Events */
.events {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    margin: 0.5rem;
    overflow-x: scroll;

    & > .events__item {
        flex: 1;
        min-width: fit-content;
        margin: 1rem;
    }
}

.events__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38vh;
    border-radius: 30px;
    padding: 0.625rem;
}

/*Estilos texto Trending Events*/
.image__info {
    backdrop-filter: blur(10px);
    padding: 0.625rem;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    top: -7.2rem;
    left: 0.625rem;
    height: 6.25rem;
    width: 90%;
    margin-left: 1rem;
}

.image__info--price {
    position: relative;
    left: 17rem;
    top: -1.8rem;    
}
.title__info {
    font-weight: 600;
    font-size: clamp(1.3rem, 0.7rem + 1.25vw, 1.5rem);
}
.text__info {
    font-weight: 400;
    font-size: clamp(1rem, 0.4rem + 1.25vw, 1.2rem);
}
.title__info--price {
    font-weight: 500;
    font-size: clamp(0.9rem, 0.6rem + 0.625vw, 1rem);
}
.text__info--price {
    font-weight: 700;
    font-size: clamp(1.2rem, 0.9rem + 0.625vw, 1.3rem);
}