@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos body*/
body {
    background: white;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
/* Estilos scrollbar*/
body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#42275a, #734b6d);
    border-radius: 1rem;
}
/*Estilos imágen header*/
.header__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*Estilos bóton de regreso home*/
.header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 1rem;
}

/*Estilos icono de regreso home*/
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    color: white;
    background: rgb(243, 210, 243,0.3);
    border: none;
    outline: none;
    border-radius: 0.7rem;
}
/*Estilos al hacer hover en el icono de de regreso home*/
.icon-button:hover {
    cursor: pointer;
    color: rgb(60, 16, 67);
    background: rgb(243, 210, 243,0.3);
}
/*Posición contenedor imágenes fotos de perfil*/
.info__profile {
    display: flex;
    flex-flow: row wrap;
    z-index: inherit;
    padding: 1rem;
}
/*Posición imágenes fotos de perfil*/
.profile1 {
    width: 4rem;
    height: 4rem;
    z-index: 1; /*Superposición imágen*/
    position: relative;
    top: 0;
    left: 0;
}

.profile2 {
    width: 4rem;
    height: 4rem;
    z-index: 2; /*Superposición imágen*/
    position: relative;
    left: -1rem;
}

.profile3 {
    width: 4rem;
    height: 4rem;
    z-index: 3; /*Superposición imágen*/
    position: relative;
    left: -2rem;
}
/*Estilos cuadro de texto descriptivo sobre el evento*/
.image__text {
    background: white;
    position: relative;
    line-height: 1.5;
    top: -4rem;
    margin: 0 2rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px 0px rgba(20,20,20, 0.3);
}
/*Estilos texto descriptivo sobre el evento*/
.title__text {
    color: black;
    font-weight: 600;
    font-size: clamp(1.5rem, -0.75rem + 4.6875vw, 3rem);
}
/*Estilos título evento*/
.title__text::after {
    content: "Music of the Spheres"; /*Color del texto*/
    color: #761CBC;
}

.title__text2::after {
    content: "Will of the People"; /*Color del texto*/
    color: #761CBC;
}

.title__text3::after {
    content: "Where We Are"; /*Color del texto*/
    color: #761CBC;
}
/*Estilos texto evento*/
.text__info {
    color: black;
    font-weight: 500;
    font-size: clamp(1.2rem, 0.5778rem + 1.7778vw, 2rem);
}

.image__text--follow {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    left: 50vw;
    top: -4rem;
}
/*Estilos título descripción*/
.description__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1rem;
    color: black;
    font-weight: 600;
    font-size: clamp(1.5rem, -0.75rem + 4.6875vw, 3rem);
}
/*Estilos texto descripción*/
.description {
    max-height: 10rem; /*Altura definida texto*/
    overflow: hidden;
    position: relative;
  }
  
  .description__text {
    margin-bottom: 1.25rem;
    font-size: clamp(1.2rem, 0.5778rem + 1.7778vw, 2rem);
    margin: 0 2rem;
    text-align: justify;
    line-height: 1.5;
  }
/*Estilos texto Read More...*/
  .read__more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    background: white;
    padding: 10px 0;
    cursor: pointer;
    color: rgb(47, 47, 122);
    font-weight: 400;
    text-decoration: none;
    margin: 0 2rem;
    font-size: clamp(1.2rem, 0.5778rem + 1.7778vw, 2rem);
    line-height: 1.5;
  }
/*Estilos texto descripción al hacer hover */ 
  .description:hover {
    max-height: none; /*Al hacer hover se elimina la altura máxima*/
    overflow: visible; /*Al hacer hover lo que estaba oculto se hace visible*/
  }
  
  .description:hover .read__more {
    display: none;
  }
/*Estilos título ubicación*/
.location {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
/*Estilos imágen ubicación*/
.location__map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem 1rem 3rem;
    width: 90%;
    height: fit-content;
}
/*Estilos texto inferior*/
.footer__map {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    background: white;
    border-radius: 1.5rem;
    width: 100%;
    bottom: 0;
    padding: 2rem;
    box-shadow: 7px 7px 12px 2px rgba(20,20,20,0.3);
}

.image__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}

.title__info {
    font-size: clamp(1rem, 0.5778rem + 1.7778vw, 2rem);
    font-weight: 500;
}

.text__info {
    font-size: clamp(1.5rem, 1.0778rem + 1.7778vw, 2.5rem);
    font-weight: 600;
}
/*Estilos botón de redireccionamiento a página ticket*/
.ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 1.0778rem + 1.7778vw, 2.5rem);
    font-weight: 500;
    text-decoration: none;
    background: #761CBC;
    color: white;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    bottom: 4vh;
    left: 70%;
    text-align: center;
}
