@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D9D9D9;
    font-family: "Inter", sans-serif;
}
/*Estilos del header (botón de notificaciones)*/
header {
    margin: 30px;
}

.header__bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}
  
.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}
  
.icon-button:hover {
    cursor: pointer;
    background: #761CBC;
    color: white;
}
  
.icon-button:active {
    background: #cccccc;
}
  
.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*Estilos del título principal */

.title {
    display: flex;
    flex-direction: column;
    padding: 20px 40px; 
    font-size: 2rem;
    width: 70%;
}

.title2 {
    color: #761CBC;
}

/*Estilos menú de categorias */
.barra {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 2%;
    overflow-x: scroll;

    & > .barra__item {
        flex: 1;
        min-width: fit-content;
        margin: 15px;
    }
}

a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
}
a:nth-child(1) {
    background-color: #EDE9FF;
}

a:nth-child(2) {
    background-color: #FFF5D7;
}

a:nth-child(3) {
    background-color: #FFECEC;
}

a:last-child {
    background-color: #E4FFEA;
}

a:hover {
    font-weight: 600;
    border: 2px double black;
    cursor: pointer;
}

/*Estilos Trending Events */
.trending {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.trending h2 {
    font-weight: 600;
    font-size: 1.8rem;
}

.trending h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: grey;
}

/*Estilos Events Near You */
.nearyou {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.nearyou h2 {
    font-weight: 600;
    font-size: 1.8rem;
}

.nearyou h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: grey;
}

h3:hover {
    color: #761CBC;
}

/*Estilos cards Events Near You */
.eventNear{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    margin-left: 2%;
    overflow-x: scroll;
    overflow: hidden;

    & > .eventNear__item {
        flex: 1;
        min-width: 40%;
        background-color: white;
        border-radius: 10px;
        margin: 0 5px;
    }
}

.events__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    left: 3rem;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
}