/* Estilos Card Trending Events */
.events {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45vh;
    margin-left: 0.5rem;
    overflow-x: auto;

    & > .events__item {
        flex: 0 0 auto;
        min-width: max-content;
        margin: 1rem;
    }
}

.events::-webkit-scrollbar {
    display: none;
}

.events__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45vh;
    border-radius: 30px;
    padding: 0.625rem;
    box-shadow: 2px 2px 4px 0 rgba(20,20,20,0.3);
}

/*Estilos texto Trending Events*/
.image__info {
    backdrop-filter: blur(10px);
    padding: 0.625rem;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    top: -8rem;
    left: 1rem;
    bottom: -2rem;
    right: 1rem;
    height: 7rem;
    width: 90%;
    line-height: 1.5;
}

.image__info--price {
    position: relative;
    left: 70%;
    top: -52%;    
}
.title__info {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(1.3rem, 0.7rem + 1.25vw, 1.5rem);
}

.title__info:hover{
    cursor: pointer;
    color: black;
    background: white;
    border-radius: 5px;
}
.text__info {
    font-weight: 400;
    font-size: clamp(1rem, 0.4rem + 1.25vw, 1.2rem);
}
.title__info--price {
    font-weight: 500;
    font-size: clamp(0.9rem, 0.6rem + 0.625vw, 1rem);
}
.text__info--price {
    font-weight: 700;
    font-size: clamp(1.2rem, 0.9rem + 0.625vw, 1.3rem);
}